<footer class="Footer">
  <div class="container">
    <div class="Footer-social">

      <p><a href="https://funding.communitybridge.org/projects/kaos-a-lean-kde-distribution" target="blank"><img src="{{ site.baseurl }}/img/lf_logo.svg" alt="Funding open source projects with transparency and trust while reducing busywork" title="Donate through LFX Crowdfunding" border="0" width="200px"></a></p>&nbsp;&nbsp;&nbsp;&nbsp;
      <!-- <a href="https://flattr.com/submit/auto?user_id=KaOSx&url=http%3A%2F%2Fkaosx.us" target="_blank"><img src="{{ site.baseurl }}/img/flattr.png" alt="Flattr this" title="Donate through Flattr" border="0" width="150px"></a>
      <p><img src="{{ site.baseurl }}/img/badge_onwhite.svg" alt="Hosted by Vultr" title="Hosted by Vultr" border="0" width="150px">
      <a href="https://www.vultr.com/?ref=6828453" target="blank"><img src="{{ site.baseurl }}/img/bird.svg" alt="Hosted by Vultr" title="Hosted by Vultr" border="0" width="70px"></a></p> -->
      <p><a href="https://fosshost.org/" target="blank"><img align="" src="{{ site.baseurl }}/img/fosshost.png" title="Fosshost, not for profit hosting provider" width="200px"></a></p>
    </div>

    <div class="Footer-nav">
      <a href="{{ site.baseurl }}/">Home</a>
      {% assign current = page.url | downcase | split: '/' %}
      <a href="{{ site.baseurl }}/about" {% if current[1] == 'about' %}class="active"{% endif %}>About</a>
      <a href="{{ site.baseurl }}/news">News</a>
      <a href="{{ site.baseurl }}/download">Download</a>
      <a href="{{ site.baseurl }}/docs">Documentation</a>
      <a href="{{ site.baseurl }}/packages">Packages</a>
      <a href="{{ site.baseurl }}/bugs">Bugs</a>
      <a href="http://kaos-community-packages.github.io/">KCP</a>
      <a href="https://forum.kaosx.us">Forum</a>
    </div>

    <div class="Footer-copyright">
      <span class="pull-left">Copyright © 2013 - {{ 'now' | date: "%m/%Y" }} <a href="{{ site.baseurl }}/">KaOS</a></span>
      <span class="pull-right">
        <a href="https://groups.google.com/forum/?fromgroups#!forum/kaos-general" target="blank"><i class="fa fa-envelope fa-lg"></i></a>
        <a href="https://github.com/KaOSx" target="blank"><i class="fa fa-github fa-lg"></i></a>
        <a href="https://kiwiirc.com/client/irc.freenode.net/#kaosx" target="blank"><i class="fa fa-wechat fa-lg"></i></a>
        <a href="https://www.transifex.com/organization/kaos/dashboard/kaos" target="blank"><i class="fa fa-language fa-lg"></i></a>
        <a href="https://gitter.im/KaOSx/KaOS/" target="blank"><i class="fa fa-tasks fa-lg"></i></a>
        <a href="{{ site.baseurl }}/feed.xml" target="blank"><i class="fa fa-rss fa-lg" title="RSS feed"></i></a>
      </span>
      <a href="#" class="crunchify-top"><i class="fa fa-chevron-up custom" ></i></a>
    </div>
  </div>
</footer>

<script>window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);
 
  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };
 
  return t;
}(document, "script", "twitter-wjs"));</script>

<!-- Home page anchor jummps -->
<script>
    $('a[href*=#]:not([href=#])').click(function() {
        if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {
            var target = $(this.hash);
            target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
            if (target.length) {
                $('html,body').animate({
                    scrollTop: target.offset().top
                }, 500);
                return false;
            }
        }
    });
</script>
