---
layout: about
status: publish
published: true
title: Sponsors
permalink: /about/sponsors/
author:
  display_name: demm
  login: demm
  email: demm@kaosx.us
  url: ''
author_login: demm
author_email: demm@kaosx.us
wordpress_id: 689
date: '2013-09-08 20:20:37 -0400'
date_gmt: '2013-09-08 20:20:37 -0400'
categories: []
tags: []
comments: []
---
<p>A FOSS project like KaOS really need that some companies and individuals are willing to sponsor through donating mirror space, hardware and other vital infrastructure. On this page you'll find a list of companies and individuals who are making the development of KaOS into something a bit bigger, more public, possible.</p>
<div id="wrapper3">
<img src="/wp-content/uploads/2013/09/everypony_clap_your_hooves_by_gigo_pixnchip-d74da0d.png" title="Twilight Sparkle vector made by: https://gigo-pixnchip.deviantart.com/" width="133" height="180" align="left"/>
<p>A powerful build-server is vital to keep up for a rolling distro. Dezponia, who has a long-standing history of supporting small FOSS projects with exactly that kind of needed hardware, has decided to support KaOS too. No link, just an homage to Dezponia's favorite cartoon.</p>
</div>
<div id="wrapper3">
<a href="https://fosshost.org/" target="blank"><img align="left" src="{{ site.baseurl }}/img/fosshost.png" width="250" /></a>
<p>Fosshost provides KaOS with a server for package uploads and IRC bouncer. Also, the Fosshost mirror service is used to provide the default mirror with connected servers all over te world</p>
</div>
<div id="wrapper3">
<a href="https://www.vultr.com/?ref=6828453" target="blank"><img align="left" src="{{ site.baseurl }}/img/logo__on-white.png" width="250" /></a>
<p>Vultr is what is used for the main mirror (package server & IRC bouncer). It is one of the very few VPS providers that offers complete custom ISO installs. Thus giving the option to have the main server running on KaOS.</p>
<p>Sign-up from this KaOS sponsor link, and you will support KaOS.</p>
</div>
<div id="wrapper3">
<a href="https://mirror6.layerjet.com/kaos/" target="blank"><img align="left" alt="logo_with_name_header" src="/wp-content/uploads/2013/09/logo_with_name_header1.png" width="250" height="74" /></a>
<p>LayerJet has graciously offered a first mirror for KaOS.</p>
</div>
<div id="wrapper3">
<a href="https://billing.dacentec.com/hostbill/" target="blank"><img src="/wp-content/uploads/2013/09/dacentec-logo.png" alt="dacentec-logo" width="250" height="36" align="left" /></a>
<p>Dacentec has graciously offered a second mirror for KaOS.</p>
</div>
<div id="wrapper3">
<a href="http://blog.youm.org/" target="blank"><img src="/wp-content/uploads/2013/09/daemon_hammer.jpg" alt="daemon_hammer" width="152" height="180" align="left" /></a>
<p>MerMouY has created a first French and second European mirror for KaOS.  This is a first KaOS-user created mirror.</p>
</div>
<div id="wrapper3">
<a href="http://www.234.cz/" target="blank"><img src="/img/connect-logo.png" width="250" height="156" alt="Connect Plus" align="left" /></a>
<p>Adam has created a first Czech and fourth European mirror for KaOS sponsored by Connect Plus.</p>
</div>
<div id="wrapper3">
<a href="http://www.math.princeton.edu/" target="blank"><img src="http://fpul.princeton.edu/sites/all/themes/pul_base/assets/public/images/pu.png" width="250" align="left" /></a>
<p>A fourth US mirror is graciously provided by the Princeton University Mathematics Department. This mirror provides a 20 GiG connection, fastest available for KaOS.</p>
</div>
<div id="wrapper3">
<p><a href="http://freedif.org/" target="blank">Freedif.org</a> has graciously offered a <a href="https://mirror.freedif.org/KaOS/" target="blank">mirror in Vietnam.</a></p>
</div>
<div id="wrapper3">
<a href="https://alpix.eu/" target="blank"><img src="https://mirror.alpix.eu/stats/etc/logo.jpg" width="180" height="179" align="left" /></a>
<p>German mirror by Alpix.</p>
</div>
<div id="wrapper3">
<a href="https://osc.shu.edu.cn/" target="blank"><img src="https://vgy.me/cpkCrN.png" width="180" height="216" align="left" /></a>
<p>The Shanghai University Open Source Mirror is supported by the Information Office of Shanghai University and the High-performance Computing Center of Shanghai University in China. It is supported by the NITA Lab of Shanghai University and maintained by the Shanghai University Open Souce Community.</p>
</div>
<div id="wrapper3">
<a href="https://github.com/bvaudour" target="blank"><img src="https://forum.kaosx.us/assets/avatars/cghqkq9e5iyctr3t.jpg" alt="cellix" width="100" height="100" align="left" /></a>
<p>French mirror of Cellix.</p>
</div>
<div id="wrapper3">
<a href="https://fosshost.org/" target="blank"><img src="https://d33wubrfki0l68.cloudfront.net/9ebf74323a1ad75946faf0d5a77b90f7ed79eb90/b2b49/_nuxt/img/badge-light.c37d02c.png" alt="cellix" width="356" height="178" align="left" /></a>
<p>A US and UK mirror have been provided by Fosshost, a not-for-profit organisation that exists to serve the hosting needs of the global open source community.</p>
<p>Founded in April 2020, fosshost started after it became apparent that there was a demand for sustainable and high quality hosting services.</p>
<p>Even more, for free.</p>
</div>
<div id="wrapper3">
<a href="https://mirror.easylee.nl/" target="blank"><img src="{{ site.baseurl }}/img/2021/easylee.png"" alt="easylee" width="100" height="100" align="left" /></a>
<p>KaOS is part of the Easy Lee mirror in The Netherlands.</p>
</div>
